:root {
  --background: #ffffff;
  --foreground: #171717;
  --verti-blue: #1890ff; 
  --verti-blue-glow: rgba(24, 144, 255, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000814;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif; /* Fuente más moderna */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Scrollbar Personalizado */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--verti-blue);
  border-radius: 10px;
}

/* Selección de texto */
::selection {
  background: var(--verti-blue);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.navLink {
  transition: color 0.3s ease;
}

.navLink:hover {
  color: var(--verti-blue) !important;
}

/* Añade un padding-top a tu clase main para que el contenido no empiece debajo del navbar */
.main {
  padding-top: 120px !important;
}